:root{
  --cor-1:hsl(356, 100%, 66%);
  --cor-2:hsl(355, 100%, 74%);
  --cor-3:hsl(208, 49%, 24%);
  --cor-4:hsl(0, 0%, 100%);
  --cor-5:hsl(240, 2%, 79%);
  --cor-6:hsl(207, 13%, 34%);
  --cor-7:hsl(240, 10%, 16%);
  
}

.cor-1{
  color: var(--cor-1);
}

.cor-2{
  color: var(--cor-2);
}

.cor-3{
  color: var(--cor-3);
}

.cor-4{
  color: var(--cor-4);
}

.cor-5{
  color: var(--cor-5);
}

.cor-6{
  color: var(--cor-6);
}

.cor-7{
  color: var(--cor-7);
}

.header-gradient-background{
  background: ;
}