@import url("./fontes.css");
@import url("./cores.css");
@import url("./global.css");


.header__bg{
  border-bottom-left-radius: 100px;
  background-image: url("../images/bg-pattern-intro-desktop.svg"), linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  background-size: auto, auto;
background-position: -450px center,center center;
  background-repeat: no-repeat;
}
.header__container{
  max-width: 1115px;
  margin: 0 auto;
}

.header__top{
  padding:59px 20px 119px;
  display: flex;
  gap: 64px;
  align-items: center;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__list{
  display: flex;
  gap: 32px;
}

.header__nav a{
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.nav__item:hover a{
  border-bottom: 1px solid #fff;
}
.nav__item a{
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__submenu{
  position: absolute;
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  width: 168px;
  margin-top: 27px;
  margin-left: -30px;
  visibility: hidden;
  
}

.nav__submenu a{
  color: #2d2d2d;
  font-size: 15px;
  font-weight: 400;
  
}

.nav__login-btn{
  margin-right: 32px;

}

.login__area .nav__cadastro-btn{
  padding: 15px 40px;
  background-color: #fff;
  border-radius: 28px;
  color: var(--cor-1);
  transition: .3s;
}

.login__area .nav__cadastro-btn:hover{
  background-color: #FF7B86;
  color: var(--cor-4);
}

.header__description{
  text-align: center;
  padding-bottom: 155px;
}

.description__title{
  font-size: 64px;
  color: var(--cor-4);
  margin-bottom: 30px;
  font-weight: 700;
}

.description__text{
  font-size: 20px;
  color: var(--cor-4);
  font-weight: 400;
}

.description__join{
  margin-top: 48px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.description__start-btn{
  padding: 15px 17px;
  background-color: var(--cor-4);
  color: var(--cor-1);
  border-radius: 28px;
  margin-right: 16px;
  display: inline-block;
  transition: .3s;
 
}

.description__start-btn:hover{
  background-color: #FF7B86;
  color: var(--cor-4);
}

.description__learn-btn{
  padding: 15px 25px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 28px;
  color:var(--cor-4);
  transition: .3s;
}

.description__learn-btn:hover{
  background-color: #fff;
  color: #FF7B86;
}

.menu-hb{
  display: none;
}

.connect:hover .nav__submenu{
  visibility:visible;
}
@media (max-width:800px){
  .description__title{
    font-size: 36px;
    max-width: 14ch;
    margin: 0 auto;
  }

  .header__top{
    padding-bottom: 108px;
  }

  .header__nav{
    display: none;
  }

  .menu-hb{
    display: block;
  }

  .header__top{
    justify-content: space-between;
  }
}

/* introducao */

.introducao__container{
 max-width: 1115px;
 margin: 0 auto;
padding: 0px 20px;
}

.introducao__content{
 
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao__title{
  text-align: center;
  margin: 150px 0px 93px;
  font-size: 40px;
  color: var(--cor-3);
}

.introducao__description{
  max-width: 502px;
}

.introducao__hero{
  width: 880px;
  height: 882px;
  position: absolute;
  top:660px;
  right: -243px;
}

.introducao-description__title{
  font-size: 28px;
  color: var(--cor-3);
  margin-bottom: 20px;
}

.introducao-description__text{
  color: #4C5862;
}

.introducao__description{
  display: flex;
  flex-direction: column;
  gap: 64px;
}

@media (max-width:1150px){
  .introducao__content{
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
  }
  .introducao__hero{
   position: initial;
   order: -1;
   height: initial;
   max-width: 600px;
  }

  .introducao__title{
    margin: 80px 0px 40px;
  }
}

@media (max-width:700px){
  .introducao__hero{
    max-width: 326px;
  }

  .introducao__title{
    font-size: 28px;
    margin: 50px 0px 20px;
  }

  .introducao__description{
    max-width: 312px;
    gap: 30px;
  }
}